* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  background-color: rgba(255, 255, 255, 0.432);
  margin: 100px;
  border-radius: 50px;
  padding-top: 50px;
}

.header {
  margin: 0 50px;
}

.demand__header {
  margin: 100px auto;
  line-height: 1.8;
}

label {
  color: black;
  margin: 20px;
  width: 100px;
  font-weight: bold;
  display: grid;
  align-items: center;
}

input {
  color: black;
  font-weight: bold;
  min-width: 10px;
  min-height: 35px;
  border: solid 2px aqua;
  border-radius: 10px;
}

span {
  color: black;
  margin: 20px;
  font-weight: bold;
}

.form__group {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 100px;
}

.title__small {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  width: 200px;
  justify-content: end;
  font-size: 20px;
  text-align: right;
  text-transform: uppercase;
}

.title__small__kcal {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  width: 200px;
  justify-content: end;
  font-size: 20px;
  text-align: right;
  text-transform: uppercase;
  color: black;
  padding-bottom: 50px;
  font-weight: bold;
}

.training {
  margin: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.kcal {
  background-color: aqua;
  padding: 50px 0;
  margin-top: 50px;
  border-radius: 50px;
}

.inp {
  display: flex;
  gap: 50px;
}

.checkbox {
  margin-left: 200px;
  display: grid;
  grid-template-columns: 100px 300px;
  justify-items: center;
  input {
    width: 25px;
  }
}

.demand__button {
  margin: 50px 100px 100px 200px;
  padding: 10px 30px 10px 30px;
  font-weight: bold;
  @media only screen and (max-width: 37.5em) {
    margin: 50px 100px;
  }
  border: solid 2px aqua;
  border-radius: 10px;
  color: white;
  background-color: black;
  &:hover {
    background-color: aqua;
    color: #ccc;
  }
}

.paragraph {
  margin-top: 100px;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.demand__footer {
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  h3 {
    color: black;
  }
}

.demand__footer__button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .demand__footer__button {
    padding: 19px 32px;
  }
}

.demand__footer__button:before,
.demand__footer__button:after {
  border-radius: 80px;
}

.demand__footer__button:before {
  background-color: aqua;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.demand__footer__button:after {
  background-color: black;
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.demand__footer__button:hover:not(:disabled):before {
  background-color: aqua;
}

.demand__footer__button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.demand__footer__button:active:not(:disabled) {
  color: #ccc;
}

.demand__footer__button:active:not(:disabled):before {
  background-color: black;
}

.demand__footer__button:active:not(:disabled):after {
  background-color: black;
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.demand__footer__button:disabled {
  cursor: default;
  opacity: 0.24;
}
