* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin: 0 50px;
}

.calc__header {
  margin: 100px auto;
  line-height: 1.8;
}

.form__grid {
  display: grid;
  grid-template-columns: 1fr 200px;
  align-items: center;
  margin-left: 20%;
  margin-right: 50%;
  gap: 30px;
  margin-bottom: 10px;
  @media only screen and (max-width: 37.5em) {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
  }
}

input {
  @media only screen and (max-width: 37.5em) {
    width: 100px;
  }
}

.calc__button {
  margin: 100px;
  padding: 10px 30px 10px 30px;
  font-weight: bold;
  @media only screen and (max-width: 37.5em) {
    margin: 50px 100px;
  }
  border: solid 2px aqua;
  border-radius: 10px;
  color: white;
  background-color: black;
  &:hover {
    background-color: aqua;
    color: #ccc;
  }
}

.results {
  display: grid;
  grid-template-columns: 1fr 90px;
  justify-items: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 30%;
  column-gap: 20px;
  row-gap: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  @media only screen and (max-width: 31.25em) {
    margin: 10px 20px;
  }
}

.results h2 {
  margin: 0;
}

.conclusions {
  padding: 100px 20px 100px 20px;
}

.result {
  font-size: 30px;
}

.calculators__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
  gap: 100px;
}

.calculators__footer__button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .calculators__footer__button {
    padding: 19px 32px;
  }
}

.calculators__footer__button:before,
.calculators__footer__button:after {
  border-radius: 80px;
}

.calculators__footer__button:before {
  background-color: aqua;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.calculators__footer__button:after {
  background-color: black;
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.calculators__footer__button:hover:not(:disabled):before {
  background-color: aqua;
}

.calculators__footer__button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.calculators__footer__button:active:not(:disabled) {
  color: #ccc;
}

.calculators__footer__button:active:not(:disabled):before {
  background-color: black;
}

.calculators__footer__button:active:not(:disabled):after {
  background-color: black;
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.calculators__footer__button:disabled {
  cursor: default;
  opacity: 0.24;
}
